.title__menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title__menu h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-right: 100px;
}
.title__menu img{
    margin-right: 50px;
    margin-bottom: 30px;
}
.href__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.href__menu a{
    color: black;
    margin-top: 40px;
    background-color: #ffcc33;
    padding: 9px 12px;
    border-radius: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;
    transition: .4s;
    text-align: center;
}
.href__menu a:hover{
    color: white;
    background-color: #b8b8b8;
}


.menu__item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px ;
}
.single__menu__item {
    padding-top: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    width: calc(25% - 20px);
}
.single__menu__item img{
    width: 100%;
    margin-bottom: 20px;
}
.item__content h3{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.item__content p{
    font-size: 18px;
    font-family: "Halant";
    text-align: center;
    color: #b8b8b8;
    margin-bottom: 20px;
    font-weight: bold;
}
.price{
    margin-bottom: -20;
}
.single__menu__item a{
    overflow: clip;

}
.single__menu__item a:hover{
    filter: brightness(0.5);
    transition-duration: 0.5s;

}